# PORT configuration
PORT= port_number

# MongoDB connection string
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.mongodb.net/your-database-name

# JWT secret key
JWT_SECRET=your_jwt_secret_here
